.pedidos-content {
    margin: 20px auto;

    table {
        width: 100%;
        
        td {
            border-bottom: 1px solid #ccc;
            min-height: fit-content;
            padding-bottom: 10px;

            &.item-left {
                width: 75%;

                p {
                    font-size: 13px;
                    word-wrap: break-word;
                }
            }

            &.item-right {
                padding-right: 5px;
                text-align: center;

                p {
                    font-size: 13px;
                }
            }
        }
    }
}